:root {
    --background-color: #0C0C0C;
    --text-color: #D9D9D9;
    --title-color: #B5964D;
    --border-color: #D9D9D9;
    --border-color2: #B5964D;
    --background-btn: rgba(255, 255, 255, 0.645);
    --background-btn-hover: rgba(255, 255, 255, 1);
    --color-btn: #333;
}